/*---------------------------------------------------------------*/
/* Template: Media Queries: sm  */
/*---------------------------------------------------------------*/
@media screen and (min-width: 0px) and (max-width: 750px) {
    /*--------------------------------*/
    /* Root */
    /*--------------------------------*/
    :root {
        --ui-padding: 0 24px !important;
    }
    h1 {font-size: 7.5vw;}
    /*--------------------------------*/
    /* Header: Construction */
    /*--------------------------------*/
    header.--construction {
        /*POSITION*/
        padding: 0px 24px !important;
    }
    /*--------------------------------*/
    /* Section: construction - grid */
    /*--------------------------------*/
    section.--construction__grid {
        /*DISPLAY*/
        grid-template-columns: 100px 1fr 60px !important;
        grid-template-rows: 100px 480px !important;
        grid-gap: 12px !important;
    }
    /*--------------------------------*/
    /* Image */
    /*--------------------------------*/
    img.--construction {
        /*POSITION*/
        width: 100px !important;
        height: 100px !important;
    }
    /*--------------------------------*/
    /* Screen */
    /*--------------------------------*/
    article.--construction__screen {
        /*GRID*/
        justify-self: left !important;
        /*POSITION*/
        max-width: 300px !important;
    }
    /*--------------------------------*/
    /* Bar */
    /*--------------------------------*/
    .screen__heading__bar {
        /*POSITION*/
        margin: 24px 0px !important;
        height: 8px !important;
        width: 100px !important;
        /*BACKGROUND*/
        background: var(--color-stroke) !important;
    }
    /*--------------------------------*/
    /* Dots */
    /*--------------------------------*/
    .screen__heading__dot {
        /*POSITION*/
        width: 8px !important;
        height: 8px !important;
    }
    .screen__heading__dot:nth-child(1) {display: none;}
    .screen__heading__dot:nth-child(2) {display: none;}
    .screen__heading__dot:nth-child(3) {background: var(--color-stroke) !important;}
    .screen__footer {display: flex !important;}
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/