/*--------------------------------*/
/* a */
/*--------------------------------*/
a {
    /*RESETS*/
    user-select: none;
    /*POSITION*/
    text-decoration: none;
    /*TRANSITION*/
    transition: var(--ui-transition);
}