/*--------------------------------*/
/* Buttons */
/*--------------------------------*/
button[class^="btn"] {
    /*DISPLAY*/
    display: inline-block;
    /*TEXT*/
    font-weight: 500;
    color: var(--color-stroke);
}
/*--------------------------------*/
/* Buttons(Hover) */
/*--------------------------------*/
button[class^="btn"]:hover {
    /*BACKGROUND*/
    background: var(--color-primary);
    /*TEXT*/
    color: var(--color-background);
}
/*--------------------------------*/
/* Buttons(Active) */
/*--------------------------------*/
button[class^="btn"]:active,
button[class^="btn"][data-state="active"] {
    /*BACKGROUND*/
    background: var(--color-primary);
    /*TEXT*/
    color: var(--color-background);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-inset);
}