/*---------------------------------------------------------------*/
/* Cards: Gallery */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Cards Item */
/*--------------------------------*/
.cards-gallery-item {
    /*position*/
    position: relative;
    overflow: hidden;
    z-index: 0;
    /*display*/
    width: 100%;
    height: 100%;
    scale: 1.0;
    /*shadow*/
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
    /*transition*/
    transition: var(--transition);
}
.cards-gallery-item::before {
    /*position*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*display*/
    width: 100%;
    height: calc(100% + var(--delta-img-height));
    filter: brightness(125%);
    /*background*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: var(--bkrnd-image-url);
    /*transition*/
    transition: var(--transition);
}
.cards-gallery-item:hover {
    scale: 1.0;
    /*shadow*/
    box-shadow: 
        8px 10px 5px 0px rgba(0, 0, 0, 0.4),
        8px 12px 18px 6px rgba(0, 0, 0, 0.2)
    ;
}
.cards-gallery-item:hover::before {
    filter: brightness(85%);
    transform: translateY(calc(var(--delta-img-height)*-1));
}
/*--------------------------------*/
/* Cards Content */
/*--------------------------------*/
.cards-gallery-content {
    /*position*/
    /*display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /*text*/
    user-select: none;
    color: var(--font-color);
    text-align: center;
    /*transitions*/
    transform: translateY(calc(var(--grid-auto-height) - 60%));
    transition: var(--transition);
}
.cards-gallery-content >* {padding-top: 16px;}
.cards-gallery-item:hover .cards-gallery-content {
    transform: translateY(0);
    transition: var(--transition);
}
.cards-gallery-item:hover .cards-gallery-desc {display: block;}
.cards-gallery-item:hover .cards-gallery-btn {display: block;}
/*--------------------------------*/
/* Cards Content Items */
/*--------------------------------*/
.cards-gallery-title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 18px;
    transition: var(--transition);
}
.cards-gallery-desc {
    display: none;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.35;
}
.cards-gallery-btn {
    /*vars*/
    cursor: pointer;
    /*position*/
    /*display*/
    display: none;
    border: none;
    background-color: black;
    border: 1px solid black;
    margin-top: 1.5rem;
    padding: 0.75rem 1.5rem;
    /*text*/
    font-size: 0.65rem;
    font-weight: bold;
    letter-spacing: 0.025rem;
    text-transform: uppercase;
    color: white;
    /*transition*/
}
.cards-gallery-btn:hover {
    background-color: whitesmoke;
    border-color: black;
    color: black;

}
.judge {--bkrnd-image-url: url('../assets/cards_gallery/judge_redrobe_card.jpg');}
.katie {--bkrnd-image-url: url('../assets/cards_gallery/katie_field_card.jpg');}
.eastern {--bkrnd-image-url: url('../assets/cards_gallery/eastern_card.jpg');}
.franklin {--bkrnd-image-url: url('../assets/cards_gallery/franklin_card.jpg');}