/*--------------------------------*/
/* Cards Product Wide-01 */
/*--------------------------------*/
.product-wide-01-wrapper {
    /*vars*/
    --left-width: 200px;
    --left-inset: -50px;
    --border-radius: 20px;
    /*position*/
    grid-column: span 2;
    width: 100%;
    height: 100%;
    /*display*/
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /*text*/
    /*shadow*/
    /*transition*/
}
/*--------------------------------*/
/* Product Wide 01: Left and Right */
/*--------------------------------*/
.product-wide-01-left,
.product-wide-01-right {
    /*position*/
    /*display*/
    border-radius: var(--border-radius);
    background-color: white;
    /*text*/
    color: black;
    /*shadow*/
    /*transition*/    
}
/*--------------------------------*/
/* Product Wide 01: Left */
/*--------------------------------*/
.product-wide-01-left {
    /*position*/
    position: absolute;
    top: 10%;
    left: var(--left-inset);
    z-index: 1;
    width: var(--left-width);
    height: 80%;
    /*display*/
    /*background*/
    background-color: var(--bike-bkrnd-color);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: var(--bkrnd-image-url);    
    /*text*/
    /*shadow*/
    box-shadow: 5px 11px 9px -3px rgba(0, 0, 0, 0.4);
    /*transition*/    
}
/*--------------------------------*/
/* Product Wide 01: Right */
/*--------------------------------*/
.product-wide-01-right {
    /*position*/
    position: relative;
    z-index: inherit;
    width: calc(100% + var(--left-inset));
    height: 100%;
    /*display*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #cccccc;
    /*padding*/
    padding-top: 10%;
    padding-right: var(--border-radius);
    padding-bottom: 10%;
    padding-left: calc((var(--left-width) + var(--left-inset)) + var(--border-radius));
    /*text*/
    /*shadow*/
    /*transition*/    
}
/*--------------------------------*/
/* Product Wide 01: Text */
/*--------------------------------*/
.product-wide-01-right h2 {
    color: #333;
    font-weight: 600;
    margin: 0;
}
.product-wide-01-right h1 {
    margin: 0;
    color: tomato;
    font-weight: 600;
}
.product-wide-01-right h1 span {
    vertical-align: super;
    font-size: 50%;
}
.product-wide-01-right a {
    text-decoration: none;
    font-size: 12px;
    color: tomato;
}
.product-wide-01-right a:hover {text-decoration: underline;}
/*--------------------------------*/
/* Product Wide 01: Btn Color */
/*--------------------------------*/
.btn-color-select {
    --btn-size: 8px;
    /*position*/
    position: relative;
    padding: var(--btn-size);
    margin: calc(var(--btn-size)*0.5);
    /*display*/
    display: inline-block;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--btn-select-color);
    /*text*/
    text-decoration: none;
}
.btn-color-select::before {
    /*position*/
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*display*/
    border-radius: 50%;
    border: 1px solid var(--btn-select-color);
    /*transition*/
}
.btn-color-select:hover::before {
    animation-name: pulse;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {scale: 0.5;}
    100% {scale: 1.5;}
}
/*--------------------------------*/
/* Product Wide 01: Btn Purchase */
/*--------------------------------*/
.btn-purchase {
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 12px;
    margin-top: 6px;
    margin-bottom: 6px;
    background-color: tomato;
    border-radius: 6px;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
}
.btn-purchase:active {box-shadow: inset 9px 9px 4px -5px rgba(0, 0, 0, 0.4);}
/*--------------------------------*/
/* Images */
/*--------------------------------*/
.bike-orange { --bkrnd-image-url: url('../assets/cards_product_wide_01/bike_orange.png'); --bike-bkrnd-color: sandybrown;}
.bike-blue { --bkrnd-image-url: url('../assets/cards_product_wide_01/bike_blue.png'); --bike-bkrnd-color: cornflowerblue;}

.btn-teal { --btn-select-color: teal;}
.btn-blue { --btn-select-color: cornflowerblue;}
.btn-grey { --btn-select-color: slategrey;}
.btn-orange { --btn-select-color: orange;}
/*--------------------------------*/
/* Row Container */
/*--------------------------------*/
.row-container.review {color: orangered;}