/*---------------------------------------------------------------*/
/* Cards: Perspective */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Cards: Perspective Wrapper */
/*--------------------------------*/
.cards-perspective-wrapper {
    /*vars*/
    --margin: -1px;

    /*display*/
    width: 100%;
    height: 100%;
    /*text*/
    text-decoration: none;
    /*perspective*/
    perspective: 800px;
    perspective-origin: center;
}
/*--------------------------------*/
/* Cards: Perspective Item */
/*--------------------------------*/
.cards-perspective-item {
    /*position*/
    /*display*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d1d1d1;
    border-radius: var(--border-radius);
    width: 100%;
    height: calc(100% / 2);
    /*transform*/
    transform-style: preserve-3d;
    margin-bottom: 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    transform: rotateX(0deg);
    transition: var(--transition);
}
.cards-perspective-item:nth-child(1) {
    /*border*/
    border-bottom: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /*background*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-image: var(--bkrnd-image-url);
}
.cards-perspective-item:nth-child(2) {
    /*display*/
    padding: 12px;
    /*border*/
    border-top: none;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    /*text*/
    text-align: center;
}
.cards-perspective-wrapper:hover .cards-perspective-item:nth-child(1) {
    margin-bottom: var(--margin);
    border-bottom: none;
    box-shadow: 
        2px -11px 5px -4px rgba(0, 0, 0, 0.2),
        0px -20px 15px 8px rgba(0, 0, 0, 0.1);
    transform: rotateX(-5deg);
}
.cards-perspective-wrapper:hover .cards-perspective-item:nth-child(2) {
    margin-top: var(--margin);
    border-top: none;
    box-shadow: 
        0px 6px 6px 0px rgba(0, 0, 0, 0.5),
        2px 11px 5px -4px rgba(0, 0, 0, 0.2),
        0px 20px 15px 8px rgba(0, 0, 0, 0.1);
    transform: rotateX(5deg);
}
.cards-perspective-item:nth-child(2) h4 {font-style: italic;}
.cards-perspective-item:nth-child(2) p {font-size: small;}
/*--------------------------------*/
/* Perspective Images */
/*--------------------------------*/
.cubist {--bkrnd-image-url:url('../assets/cards_perspective/lichtenstein_cubist_still_life.jpg');}
.sioux {--bkrnd-image-url:url('../assets/cards_perspective/lichtenstein_sioux.jpg');}
.temple {--bkrnd-image-url:url('../assets/cards_perspective/lichtenstein_temple.jpg');}
.finger {--bkrnd-image-url:url('../assets/cards_perspective/lichtenstein_finger.jpg');}