/*---------------------------------------------------------------*/
/* Onboarding: Resets - inputs */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* input: text */
/*--------------------------------*/
input[type="text"],
input[type="number"],
input[type="email"] {
    /*POSITION*/
    padding: 10px 20px;
    margin-bottom: 10px;
    /*DISPLAY*/
    outline: none;
    /*BACKGROUND*/
    background: var(--color--green-lite);
    /*BORDER*/
    border: 1px solid var(--color--green-def);
    /*TEXT*/
    color: var(var(--color--grey-lite));
    text-align: center;
    /*SHADOW*/
    /*TRANSITION*/
    transition: var(--ui-transition);
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* input: text - hover */
/*--------------------------------*/
input[type="text"]:hover,
input[type="number"]:hover,
input[type="email"] {
    /*POSITION*/
    /*DISPLAY*/
    outline: none;
    /*BACKGROUND*/
    background: var(--color--white);
    /*BORDER*/
    border: 1px solid var(--color--green-dark);
    /*TEXT*/
    color: var(var(--color--brown-dark));
    /*DEBUGGING*/
}
/*--------------------------------*/
/* input: text - DOB */
/*--------------------------------*/
input[type="text"][class*="__inline"]:not(:nth-child(3)) {border-right: none;}
input[type="number"][class*="__inline"]:not(:nth-child(3)) {border-right: none;}
/*--------------------------------*/
/* Template: */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/