/*--------------------------------*/
/* Flex */
/*--------------------------------*/
[class*="__row"] {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
}
[class*="__row--center"] {align-items: center;}
[class*="__col"] {
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
}
[class$="--between"] {justify-content: space-between;}
[class$="--start"] {justify-content: flex-start;}