
/*---------------------------------------------------------------*/
/* Onboarding: Article - Cards */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Article: Card */
/*--------------------------------*/
article [class^="__card"] {
    /*POSITION*/
    width: 100%;
    padding: 10px 20px;
    /*DISPLAY*/
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 3.5rem 4rem calc(100% - 7.5rem);
    justify-items: center;
    align-items: start;
    /*TRANSFORM*/
    transform: translateX(0%);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Article: Card - grid elements */
/*--------------------------------*/
article [class^="__card"] h3,
article [class^="__card"] i,
article [class^="__card"] p,
article [class^="__card"] [class*="__form"],
article [class^="__card"] table {
    /*GRID*/
    grid-column: 1;
}
/*--------------------------------*/
/* Article: Card - h3 */
/*--------------------------------*/
article [class^="__card"] h3,
article [class^="__card"] i {
    /*GRID*/
    grid-row: 1;
    /*POSITION*/
    margin: 0;
}
/*--------------------------------*/
/* Article: Card - p */
/*--------------------------------*/
article [class^="__card"] i {
    /*TEXT*/
    font-size: 3rem;
}
/*--------------------------------*/
/* Article: Card - p */
/*--------------------------------*/
article [class^="__card"] p {
    /*GRID*/
    grid-row: 2;
    /*TEXT*/
    text-align: center;
}
/*--------------------------------*/
/* Article: Card - img, form */
/*--------------------------------*/
article [class^="__card"] img,
article [class^="__card"] [class*="__form"],
article [class^="__card"] table {
    /*GRID*/
    grid-row: 3;
}
/*--------------------------------*/
/* Article: Card - img */
/*--------------------------------*/
article [class^="__card"] img {
    /*POSITION*/
    width: 200px;
    height: 200px;
    object-fit: contain;
}
/*--------------------------------*/
/* Article: Card - form */
/*--------------------------------*/
article [class^="__card"] [class*="__form"] {
    /*POSITION*/
    width: max-content;
    height: 100%;
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Article: Card - form: row */
/*--------------------------------*/
article [class^="__card"] [class*="__form"] [class*="__row--between"],
article [class^="__card"] [class*="__form"] [class*="__row--center"] {
    /*POSITION*/
    width: 100%;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
article [class^="__card"] [class*="__form"] [class*="__row--between"] {
    /*DISPLAY*/
    justify-content: space-between;
}
article [class^="__card"] [class*="__form"] [class*="__row--center"] {
    /*DISPLAY*/
    justify-content: center;
}
/*--------------------------------*/
/* Article: Card - Table */
/*--------------------------------*/
article [class^="__card"] table {
    /*TEXT*/
    font-size: 0.8rem;
}
article [class^="__card"] table tr td {border-bottom: 1px solid var(--color--green-lite);}
article [class^="__card"] table tr td:first-child {padding-right: 20px;}
/*--------------------------------*/
/* Article: Card - Form Span */
/*--------------------------------*/
article [class^="__card"] [class*="__form"] span {
    /*DISPLAY*/
    display: none;
    /*TEXT*/
    font-size: 0.8rem;
    color: var(--color--red);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Animation: Card - Intro */
/*--------------------------------*/
.__card--intro {
    /*TRANSFORM*/
    filter: opacity(1.0);
    /*ANIMATION*/
}
.ani--intro {animation-name: __card--intro;}

@keyframes __card--intro {
    0% {filter: opacity(0.0);}
    100% {filter: opacity(1.0);}
}
/*--------------------------------*/
/* Animation: Card - advance */
/*--------------------------------*/
.ani--advance {
    /*ANIMATION*/
    animation-name: __card--advance;
}

@keyframes __card--advance {
    0% {transform: translateX(var(--start_pos));}
    100% {transform: translateX(var(--end_pos));}
}
/*--------------------------------*/
/* Template: */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/