/*--------------------------------*/
/* Element - Arrow */
/*--------------------------------*/
div.arrow {
    /*POSITION*/
    position: relative;
    width: 60px;
    height: 60px;
    /*BORDER*/
    border-width: var(--ui-border-width);
    border-style: var(--ui-border-style);
    border-radius: 100%;
    /*BACKGROUND*/
    background: var(--color-primary);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-on);
}
div.arrow[class*="ani--slide"] {
    /*ANIMATION*/
    animation: arrow--slide 0.95s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s infinite forwards normal;
}
div.arrow[class*="ani--bounce"] {
    /*ANIMATION*/
    animation: arrow--bounce 1.25s ease 0s infinite forwards normal;
}
/*--------------------------------*/
/* Element - Arrow: i */
/*--------------------------------*/
div.arrow i {
    /*POSITION*/
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    /*DISPLAY*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*TEXT*/
    font-size: 48px;
}
/*--------------------------------*/
/* Element - Arrow: animation */
/*--------------------------------*/
@keyframes arrow--slide {
    0% {transform: translateX(-48px); rotate: 0deg;}
    100% {transform: translateX(24px); rotate: -12deg;}
}
@keyframes arrow--bounce {
    0% {transform: translateY(0px);}
    20% {transform: translateY(0px);}
    50% {transform: translateY(-48px);}
    80% {transform: translateY(0px);}
    90% {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}