/*--------------------------------*/
/* slideshow Simple 01 */
/*--------------------------------*/
.slideshow--simple-01 {
    /*vars*/
    /*position*/
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
}
/*--------------------------------*/
/* slideshow-slide container */
/*--------------------------------*/
.slideshow--simple-01__slide-container {
    /*position*/
    width: 100%;
    height: 100%;
    /*display*/
    overflow: hidden;
}
/*--------------------------------*/
/* slideshow-slide */
/*--------------------------------*/
.slide--simple-01 {
    /*position*/
    position: relative;
    width: 100%;
    height: 100%;
    /*display*/
    display: none;
}
.slide--simple-01[data-slide--active="true"] { display: block;}
/*--------------------------------*/
/* Slide: Num and Caption Container */
/*--------------------------------*/
.slide--simple-01__num, .slide--simple-01__caption {
    /*position*/
    position: absolute;
    z-index: 5;
    /*display*/
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.2);
    /*text*/
    color: whitesmoke;
    font-weight: 600;
    font-size: 12px; 
}
/*--------------------------------*/
/* Slide: Num*/
/*--------------------------------*/
.slide--simple-01__num {
    /*position*/
    top: 10px;
    left: 10px;
}
/*--------------------------------*/
/* Slide: Img */
/*--------------------------------*/
.slide--simple-01 img {
    /*position*/
    width: 100%;
    height: 100%;
    /*display*/
    object-fit: cover;
}
/*--------------------------------*/
/* Slide: Caption Container */
/*--------------------------------*/
.slide--simple-01__caption {
    /*position*/
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    /*text*/
    font-size: 12px;
    color: whitesmoke;
    /*transition*/
    opacity: 0.6;
    transition: var(--transition);    
}
.slide--simple-01__caption:hover {
    opacity: 1.0;
    background-color: rgba(0, 0, 0, 0.7);
}
/*--------------------------------*/
/* Btn: Both */
/*--------------------------------*/
.slide--simple-01__btn--prev, .slide--simple-01__btn--next {
    cursor: pointer;
    /*position*/
    position: absolute;
    width: auto;
    padding: 16px;
    /*display*/
    background-color: transparent;
    /*text*/
    text-decoration: none;
    user-select: none;
    font-weight: bold;
    font-size: 18px;
    color: whitesmoke;
    /*shadow*/
    /*transition*/
    transition: var(--transition);
}
.slide--simple-01__btn--prev:hover,
.slide--simple-01__btn--next:hover {background-color: rgba(0, 0, 0, 0.4);}
/*--------------------------------*/
/* Slide: Button Prev */
/*--------------------------------*/
.slide--simple-01__btn--prev {
    top: 50%;
    left: 0;
    border-radius: 0 3px 3px 0;
}
/*--------------------------------*/
/* Slide: Button Next */
/*--------------------------------*/
.slide--simple-01__btn--next {
    top: 50%;
    right: 0;
    border-radius: 3px 0 0 3px;
}
/*--------------------------------*/
/* Dots Container*/
/*--------------------------------*/
.slide--simple-01__dots-container {
    /*vars*/
    --dots__fill-color: whitesmoke;
    --dot-size: 12px;
    /*position*/
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    /*display*/
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 0 0 3px 3px;
    background-color: rgba(0, 0, 0, 0.0);
    /*transition*/
    transition: var(--transition);
}
.slide--simple-01__dots-container:hover {
    background-color: rgba(0, 0, 0, 0.4);
}
/*--------------------------------*/
/* slide-fade */
/*--------------------------------*/
.slide--simple-01__dots__item {
    cursor: pointer;
    /*position*/
    position: relative;
    width: var(--dot-size);
    height: var(--dot-size);
    /*display*/
    display: none;
    margin: 0 6px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    overflow: hidden;
    scale: 1.0;
    /*transition*/
    transition: var(--transition);
}
.slide--simple-01__dots__item[data-dot--active="true"] {
    background-color: whitesmoke;
}
.slide--simple-01__dots__item[data-dot--active="false"]:hover {
    scale: 1.4;
    background-color: whitesmoke;
}
.slide--simple-01__dots__item[data-dot--active="false"]:active {
    scale: 1.4;
    box-shadow: inset 0px 0px 0 1px rgba(0, 0, 0, 0.6);
}
/*--------------------------------*/
/* slide-fade */
/*--------------------------------*/
.slide--simple-01__animaiton--fade {
    animation-name: fade;
    animation-duration: 1.5s;
    animation-timing-function: var(--bezier);
}
@keyframes fade {
    from {opacity: 0.1;}
    to {opacity: 1.0;}
}