/*---------------------------------------------------------------*/
/* Reset: Button*/
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* button */
/*--------------------------------*/
button {
    /*RESET*/
    outline: none;
    cursor: pointer;
    user-select: none;
    /*DISPLAY*/
    display: block;
    /*BACKGROUND*/
    background: transparent;
    /*BORDER*/
    border: none;
    border-radius: none;
    /*TRANSITION*/
    transition: var(--ui-transition);
}
/*--------------------------------*/
/* button(enabled) */
/*--------------------------------*/
button[data-state="enabled"] {user-select: auto;}