/*---------------------------------------------------------------*/
/* Reset: Headings */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* headings */
/*--------------------------------*/
h1,
h2,
h3,
h4,
h5,
h6 {color: var(--color-stroke);}
/*--------------------------------*/
/* h1 */
/*--------------------------------*/
h1 {
    /*TEXT*/
    line-height: normal;
    font-size: 72px;
    font-weight: 600;
}
/*--------------------------------*/
/* header h2 */
/*--------------------------------*/
header h2 {font-size: 48px;}
/*--------------------------------*/
/* main h2 */
/*--------------------------------*/
main h2 {font-weight: 600;}
/*--------------------------------*/
/* main h2 */
/*--------------------------------*/
main h3 {font-weight: 600;}
/*--------------------------------*/
/* main h4 */
/*--------------------------------*/
main h5 {color: var(--color-primary);}
/*--------------------------------*/
/* footer h2 */
/*--------------------------------*/
footer h2 {color: var(--color-primary);}
/*--------------------------------*/
/* h5 */
/*--------------------------------*/
h5 {
    /*TEXT*/
    line-height: normal;
    font-weight: 600;
    margin-bottom: 6px;
}
/*--------------------------------*/
/* header + headings */
/*--------------------------------*/
header h1,
header h2,
header h3,
header h4,
header h5,
header h6 {color: var(--color-tertiaryStroke);}
