/*---------------------------------------------------------------*/
/* Reset: textarea: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Textarea */
/*--------------------------------*/
textarea {
    /*RESET*/
    outline: none;
    /*POSITION*/
    padding: 12px 18px;
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    border-width: var(--ui-border-width);
    border-style: var(--ui-border-style);
    border-radius: var(--ui-border-radius);
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*---------------------------------------------------------------*/
/* Reset: input: states */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Input(Enabled): email, text */
/*--------------------------------*/
textarea[data-state="enabled"],
textarea[data-state="enabled"] {
    user-select: auto;
    pointer-events: all;
    /*BACKGROUND*/
    background: var(--color-tertiaryDim);
    /*BORDER*/
    border-color: var(--color-strokeDim);
    /*TEXT*/
    color: var(--color-strokeDim);
}
/*--------------------------------*/
/* Input(Hovered): email, text */
/*--------------------------------*/
textarea[data-state="enabled"]:hover,
textarea[data-state="enabled"]:hover {
    /*BACKGROUND*/
    background: var(--color-background);
    /*BORDER*/
    border-color: var(--color-stroke);
    /*TEXT*/
    color: var(--color-stroke);
}
/*--------------------------------*/
/* Input(Active | Focus): email, text */
/*--------------------------------*/
textarea[data-state="enabled"]:focus,
textarea[data-state="enabled"]:active,
textarea[data-state="enabled"]:focus,
textarea[data-state="enabled"]:active {
    /*BACKGROUND*/
    background: var(--color-background);
    /*BORDER*/
    border-color: var(--color-stroke);
    /*TEXT*/
    color: var(--color-stroke);
}
/*--------------------------------*/
/* Input(Disabled): email, text */
/*--------------------------------*/
textarea[data-state="disabled"],
textarea[data-state="disabled"] {
    user-select: none;
    pointer-events: none;
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    background: var(--color-strokeLite);
    /*BORDER*/
    border-color: var(--color-strokeMid);
    /*TEXT*/
    color: var(--color-strokeDim);
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*---------------------------------------------------------------*/
/* input: placeholder */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Input: email, text */
/*--------------------------------*/
textarea::placeholder,
textarea::placeholder {
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    color: var(--color-strokeDim);
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/