/*---------------------------------------------------------------*/
/* Button: Nav */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* a, button */
/*--------------------------------*/
a,
button {
    /*RESETS*/
    text-decoration: none;
    /*TRANSITION*/
    transition: var(--ui-transition);
}
/*--------------------------------*/
/* button */
/*--------------------------------*/
button {
    /*RESET*/
    outline: none;
    cursor: pointer;
    /*POSITION*/
    margin: 0;
    padding: 0;
    /*DISPLAY*/
    display: block;
    /*BACKGROUND*/
    background: transparent;
    /*BORDER*/
    border: none;
    border-radius: none;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Link */
/*--------------------------------*/
a[class^="link"] {
    /*DISPLAY*/
    display: inline-block;
}
/*--------------------------------*/
/* Buttons */
/*--------------------------------*/
a[class^="btn"],
button[class^="btn"] {
    /*VARS*/
    /*POSITION*/
    margin: 12px;
    padding: 6px 12px;
    /*DISPLAY*/
    display: inline-block;
    /*TEXT*/
    font-weight: 600;
}
/*--------------------------------*/
/* Nav - Link */
/*--------------------------------*/
.link--nav {
    /*POSITION*/
    margin: 12px 0px 0px 0px;
    padding: 6px 12px;
    /*BORDER*/
    border-bottom: 2px solid transparent;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav - Link(hover) */
/*--------------------------------*/
.link--nav:hover {
    /*BORDER*/
    border-bottom-color: var(--color-stroke);
}
/*--------------------------------*/
/* Nav */
/*--------------------------------*/
.btn--primary {
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav */
/*--------------------------------*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/