/*---------------------------------------------------------------*/
/* Splash: Registration */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Imports: Font */
/*--------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/*--------------------------------*/
/* Imports: */
/*--------------------------------*/
@import url(semantics/semantics_main.css);
@import url(semantics/semantics_article_cards.css);
/*--------------------------------*/
/* Imports: Resets */
/*--------------------------------*/
@import url(resets/resets_buttons.css);
@import url(resets/resets_ul_a.css);
@import url(resets/resets_input.css);
/*--------------------------------*/
/* Media Queries */
/*--------------------------------*/
@import url(media_queries/media_query_1000.css) screen and (min-width: 850px) and (max-width: 1000px);
@import url(media_queries/media_query_850.css) screen and (min-width: 600px) and (max-width: 850px);
@import url(media_queries/media_query_phone.css.css) screen and (min-width: 0px) and (max-width: 600px);
/*--------------------------------*/
/* Root */
/*--------------------------------*/ 
:root {
    /*DEBUGGING*/
    /*--debug-border: 1px solid red;*/
    --debug-border: 1px solid red;
    --debug-bkrnd: rgba(255, 0, 0, 0.4);

    /*COLORS*/
    --color--white: #ffffff;
    --color--blk: #000000;
    --color--grey-lite: #a0a0a0;
    --color--grey-dark: #6F6861;
    --color--brown-lite: #952300;
    --color--brown-dark: #512212;
    --color--red: #A70900;
    --color--green-def: #376201;
    --color--green-lite: #C7ECAA;
    --color--green-dark: #005b4c;
    --color--orange: #EB7A00;
    --color--purple: #6153AA;

    /*UI: POSITION*/
    --ui-padding: 10px;
    /*UI: BORDER*/
    --ui-border: 1px solid #999;
    --ui-border-radius: 10px;
    /*UI: FONT*/
    --ui-font-family: "Raleway", sans-serif;
    --ui-font-size: 16px;
    /*UI: SHADOW*/
    --ui-shadow-off: 2px 2px 12px 0px rgba(0, 0, 0, 0.0);
    --ui-shadow-on: 2px 4px 6px 2px rgba(0, 0, 0, 0.4);
    /*UI: TRANSITIONS*/
    --ui-transition: all 0.45s cubic-bezier(0.445, 0.05, 0.55, 0.95);

    /*ANIMATIONS*/
    --start_pos: 0%;
    --end_pos: -100%;
}
/*--------------------------------*/
/* Overall */
/*--------------------------------*/        
* {
    /*POSITION*/
    margin: 0;
    padding: 0;
    /*DISPLAY*/
    box-sizing: border-box;
}
/*--------------------------------*/
/* Body */
/*--------------------------------*/
body {
    /*TEXT*/
    font-family: var(--ui-font-family);
    font-size: var(--ui-font-size);
    font-weight: normal;
    color: var(--color--brown-dark);
}
/*--------------------------------*/
/* Wrapper */
/*--------------------------------*/
.wrapper__flex {
    /*POSITION*/
    width: 100vw;
    height: 100%;
    /*DISPLAY*/
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------------------------------*/
/* Wrapper */
/*--------------------------------*/
.wrapper__grid {
    /*POSITION*/
    width: 100%;
    /*DISPLAY*/
    display: grid;
    grid-template-columns: auto 500px 500px auto;
    grid-template-rows: 80px calc(100vh - 140px) 60px;
}
/*.wrapper__grid >* {border: 1px solid red;}*/
/*--------------------------------*/
/* Animation: */
/*--------------------------------*/
div[class*="ani--"] {
    /*ANIMATION*/
    animation-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-duration: 1.95s;
}
/*---------------------------------------------------------------*/
/* Template: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/