:root {
    --btn--size: 60px;
    --transition: all 0.25s ease-in;
    --border-radius: 20px;
}
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('./bkrnd_math.jpg');
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calc--container {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius);
    border: 2px outset #333;
    box-shadow: 2px 2px 7px 1px rgba(0, 0, 0, 0.3);
}
.calc--bevel {
    /*position*/
    width: 100%;
    height: 100%;
    /*display*/
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /*bkrnd*/
    background-image: linear-gradient(to bottom, #d0d0d0, #f0f0f0, #d0d0d0);
    background-size: 100% 200%;
    background-image: 
    radial-gradient(circle, rgba(255,255,255,0.1) 1px, transparent 1px),
        linear-gradient(to bottom, #d0d0d0, #f0f0f0, #d0d0d0);
    /*border*/
    border-radius: var(--border-radius);
    border: none;
    /*shadow*/
    box-shadow:
        inset 0 0 10px rgba(0, 0, 0, 0.3),
        inset 0 4px 20px rgba(255, 255, 255, 0.2),
        inset 0 -5px 20px rgba(0, 0, 0, 0.1);
}

.calc--screen {
    /*POSITION*/
    min-width: 260px;
    width: calc(4 * (var(--btn--size) + 6px));
    height: 24px;
    margin: 24px 12px;
    padding: 12px;
    /*DISPLAY*/
    display: flex;
    justify-content: flex-end;
    align-items: right;
    /*BKRND*/
    background-color: rgb(173, 173, 173);
    /*BORDER*/
    border: 4px outset gray;
    border-radius: 12px;
    /*FONT*/
    font-family: 'Courier New', Courier, monospace;
    color: #0f0;
    font-weight: 600;
    font-size: 24px;
    text-shadow: 
        0 0 1px #017001,
        0 0 5px #017001,
        0 0 1px #017001;
    /*SHADOW*/
    box-shadow: 
        inset 3px 3px 7px #333333,
        inset -3px -3px 4px #333333;
}
.container--button {
    /*position*/
    margin: 0 12px 24px 12px;
    /*display*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(4 * (var(--btn--size) + 12px));
}
button.btn--number,
button.btn--equals,
button.btn--operator {
    cursor: pointer;
    /*position*/
    margin: 6px;
    width: var(--btn--size);
    height: var(--btn--size);
    /*display*/
    display: inline-block;
    /*border*/
    border-radius: 50%;
    /*font*/
    line-height: var(--btn--size);
    font-size: 16px;
    color: white;
    /*shadow*/
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease-in;
}
button.btn--number {
    background-color: #555555;
}
button.btn--operator {
    background-color: orange;
}
button.btn--equals {
    background-color: tomato;
}