/* Form Validation */
* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(bkrnd_shepherd.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-container {
    display: flex;
    flex-wrap: wrap;
    padding: 24px;
    border: 1px solid lightgrey;
    border-radius: 24px;
    max-width: 450px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
    background-color: white;
}

.form-container:hover, .form-container:focus, .form-container:active {
    border-color: white;
    background-color: white;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.heading {
    padding: 12px;
    text-align: center;
    width: 100%;
    color: tomato;
}

.form-item {
    flex: 1;
}

input, select, .submit-container, .check-container {
    flex: 1;
    border: 1px solid lightgrey;
    border-radius: 12px;
    margin: 12px;
    font-size: 16px;
    outline: none;
}

.form-container input {
    padding: 12px;
}

input::placeholder {
    color: black;
}

input[type=text], input[type=email], input[type=password], select {
    transition-duration: 0.4s;
}

input[type=text]:hover, input[type=email]:hover, input[type=password]:hover, select:hover {
    background-color: lightgray;
}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, select:focus {
    border: 1px solid cornflowerblue;
    background-color: white;
}

select, .check-container {
    padding: 6px;
}

.check-container, input[type=submit], input[type=reset], input[type=checkbox] {
    text-align: center;
    background-color: white;
    cursor: pointer;
}

.check-container:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: cornflowerblue;
    border-color: cornflowerblue;
    box-shadow: 2px 4px 0 rgba(0, 0, 0, 0.6);
    transform: translateY(-4px);
    transition-duration: 0.2s;
    transition-timing-function: ease-in;
}

.check-container:active, input[type=submit]:active, input[type=reset]:active {
    transform: translateY(4px);
    box-shadow: none;
    transition-duration: 0.1s;
    border-color: lightgrey;
}

.submit-container {
    display: flex;
    justify-content: space-around;
    padding: 12px;
}

.submit-container:hover {
    background-color: white;
    transition-duration: 0.4s;
    border-color: cornflowerblue;
}

.error-msg {
    display: none;
    color: red;
    font-size: small;
    padding-left: 12px;
}