/*---------------------------------------------------------------*/
/* Section: Grid - Center */
/*---------------------------------------------------------------*/
section.--case-study__grid--center {
    /*POSITION*/
    padding: var(--ui-padding);
    width: 100%;
    /*DISPLAY*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    column-gap: 24px;
}