/*---------------------------------------------------------------*/
/* LCARS: Outline */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* LCARS: Outline */
/*--------------------------------*/
div[class^="lcars"][class*="--outline"],
button[class^="lcars"][class*="--outline"] {
    /*BACKGROUND*/
    background: transparent !important;
    /*BORDER*/
    --lcars__border-size: 2px;
    --lcars__border-color: var(--lcars__bkrnd-color);
    /*TEXT*/
    --lcars__font-color: var(--lcars__bkrnd-color);
    /*DEBUGGING*/
}