/*---------------------------------------------------------------*/
/* Lcars: Animations */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Blinking */
/*--------------------------------*/
div[class^="lcars"][class*="__ani--blink"],
button[class^="lcars"][class*="__ani--blink"] {
    /*SHADOW*/
    box-shadow: 0 0 0 0 var(--lcars__shadow-color, var(--lcars__bkrnd-color));
    /*TRANSITION*/
    /*ANIMATION*/
    animation: --blink 0.85s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    /*TRANSFORM*/
    /*DEBUGGING*/
}
@keyframes --blink {
    0% {
        filter: brightness(125%);
        box-shadow: 0 0 0 0 var(--lcars__shadow-color, var(--lcars__bkrnd-color));
    }
    100% {
        filter: brightness(125%);
        box-shadow: 0 0 8px 2px var(--lcars__shadow-color, var(--lcars__bkrnd-color));
    }
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/