/*---------------------------------------------------------------*/
/* LCARS: Main */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Main */
/*--------------------------------*/
div[class^="lcars"],
button[class^="lcars"] {
    /*GRID*/
    /*POSITION*/
    margin: var(--lcars__margin, 0.0rem);
    padding: var(--lcars__padding, 0.5rem);
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: end;
    /*BACKGROUND*/
    background: var(--lcars__bkrnd-color, var(--color--grey-def));
    /*BORDER*/
    border-width: var(--lcars__border-size, 0px);
    border-style: solid;
    border-color: var(--lcars__border-color, transparent);
    /*BORDER - RADIUS*/
    border-radius: var(--lcars__border-radius, 0px);
    /*TEXT*/
    font-family: 'Antonio', sans-serif;
    font-size: var(--lcars__font-size, 1rem);
    color: var(--lcars__font-color, var(--color--blk));
    /*TRANSITION*/
    transition: var(--transition);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* LCARS: Button */
/*--------------------------------*/
button[class^="lcars"] {
    cursor: pointer;
    /*POSITION*/
    position: relative;
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/