/*---------------------------------------------------------------*/
/* LCARS: Text */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* LCARS: Text | Default */
/*--------------------------------*/
div[class^="lcars"][class*="--text"],
button[class^="lcars"][class*="--text"] {
    /*DISPLAY*/
    align-items: center !important;
    /*BACKGROUND*/
    background: transparent !important;
    /*BORDER*/
    border: none !important;
    /*TEXT*/
    --lcars__font-color: var(--lcars__bkrnd-color);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* LCARS: Text | sm */
/*--------------------------------*/
div[class^="lcars"][class*="--text"][class*="--h-sm"],
button[class^="lcars"][class*="--text"][class*="--h-sm"] {
    /*TEXT*/
    --lcars__font-size: 1rem;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* LCARS: Text | md */
/*--------------------------------*/
div[class^="lcars"][class*="--text"][class*="--h-md"],
button[class^="lcars"][class*="--text"][class*="--h-md"] {
    /*TEXT*/
    --lcars__font-size: 3rem;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* LCARS: Text | lg */
/*--------------------------------*/
div[class^="lcars"][class*="--text"][class*="--h-lg"],
button[class^="lcars"][class*="--text"][class*="--h-lg"] {
    /*TEXT*/
    --lcars__font-size: 5rem;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* LCARS: Text | lg */
/*--------------------------------*/
div[class^="lcars"][class*="--text"][class*="--h-xl"],
button[class^="lcars"][class*="--text"][class*="--h-xl"] {
    /*TEXT*/
    --lcars__font-size: 5rem;
    /*DEBUGGING*/
}