/*---------------------------------------------------------------*/
/* LCARS: Corners */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Corners */
/*--------------------------------*/
div[class^="lcars"][class*="--corner"] {
    /*POSITION*/
    position: relative;
    /*DISPLAY*/
    overflow: hidden;
}
div[class^="lcars"][class*="--corner"]::after {
    content: '';
    /*POSITION*/
    position: absolute;
    width: 100%;
    height: 200%;
    /*BACKGROUND*/
    background: var(--color--blk);
    /*BORDER*/
    border-radius: 60px;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Corners: Top-Left */
/*--------------------------------*/
div[class^="lcars"][class*="--corner-top-left"]::after {
    /*POSITION*/
    top: 3rem;
    left: 6rem;
}
/*--------------------------------*/
/* Corners: Bottom-Right */
/*--------------------------------*/
div[class^="lcars"][class*="--corner-top-right"]::after {
    /*POSITION*/
    top: 3rem;
    right: 6rem;
}
/*--------------------------------*/
/* Corners: Bottom-Right */
/*--------------------------------*/
div[class^="lcars"][class*="--corner-btm-right"]::after {
    /*POSITION*/
    bottom: 3rem;
    right: 6rem;
}
/*--------------------------------*/
/* Corners: Bottom-Left */
/*--------------------------------*/
div[class^="lcars"][class*="--corner-btm-left"]::after {
    /*POSITION*/
    bottom: 3rem;
    left: 6rem;
}