/*---------------------------------------------------------------*/
/* LCARS: Height */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Height: Small */
/*--------------------------------*/
div[class^="lcars"][class*="--h-sm"],
button[class^="lcars"][class*="--h-sm"] {
    /*GRID*/
    grid-row: auto / span 1;
}
/*--------------------------------*/
/* Height: Medium */
/*--------------------------------*/
div[class^="lcars"][class*="--h-md"],
button[class^="lcars"][class*="--h-md"] {
    /*GRID*/
    grid-row: auto / span 2;
}
/*--------------------------------*/
/* Height: Large */
/*--------------------------------*/
div[class^="lcars"][class*="--h-lg"],
button[class^="lcars"][class*="--h-lg"] {
    /*GRID*/
    grid-row: 1 / span 3;
}
/*--------------------------------*/
/* Height: XL */
/*--------------------------------*/
div[class^="lcars"][class*="--h-xl"],
button[class^="lcars"][class*="--h-xl"] {
    /*GRID*/
    grid-row: auto / span 5;
}