/*---------------------------------------------------------------*/
/* Link: Footer-Upper */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Footer-Upper */
/*--------------------------------*/
a.link--footer-upper {
    /*POSITION*/
    margin: 12px 12px 12px 0px;
    /*TEXT*/
    text-decoration: underline;
    color: var(--color-primary);
}
/*--------------------------------*/
/* Nav - Link(hover) */
/*--------------------------------*/
a.link--footer-upper:hover {
    /*TEXT*/
    color: var(--color-tertiary);
}
/*---------------------------------------------------------------*/
/* Link: Footer-Lower */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Footer-Lower */
/*--------------------------------*/
a.link--footer-lower {
    /*TEXT*/
    color: var(--color-tertiary);
}
/*--------------------------------*/
/* Footer-Lower(Hover) */
/*--------------------------------*/
a.link--footer-lower:hover {
    /*TEXT*/
    color: var(--color-secondary);
    text-decoration: underline;
}
/*--------------------------------*/
/* Footer-Lower(Active) */
/*--------------------------------*/
a.link--footer-lower:active {
    /*TEXT*/
    color: var(--color-primary);
    text-decoration: underline;
}