/*---------------------------------------------------------------*/
/* Splash: Registration */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Main: Logo */
/*--------------------------------*/
.main--logo {
    /*GRID*/
    grid-column: 2;
    grid-row: 1;
    /*POSITION*/
    margin-top: 20px;
    /*BACKGROUND*/
    background-image: url('../../assets/icons/logo_pawfect.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    /*BORDER*/
}
/*--------------------------------*/
/* Main: Form - Grid, login, register (active) */
/*--------------------------------*/
.main--form__grid--login,
.main--form__grid--register {
    /*GRID*/
    grid-column: 2;
    grid-row: 2;
    align-self: center;
    /*DISPLAY*/
    display: none;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: auto;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Main: Form - Grid, register (inactive) */
/*--------------------------------*/
.main--form__grid--login.--active,
.main--form__grid--register.--active { display: grid;}
/*--------------------------------*/
/* Form Line */
/*--------------------------------*/
.main--form__item--line-default,
.main--form__item--line-or {
    /*GRID*/
    grid-column: 1 / span 2;
    /*POSITION*/
    padding: 5px 0;
    position: relative;
}
.main--form__item--line-default::before,
.main--form__item--line-or::before {
    content: '';
    /*POSITION*/
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    /*BORDER*/
    border-bottom: 1px solid var(--color-brown);
    /*DEBUGGING*/
}
.main--form__item--line-or::after {
    content: 'or';
    /*POSITION*/
    z-index: 2;
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    width: 20px;
    height: 20px;
    /*DISPLAY*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*BACKGROUND*/
    background: white;
    /*TEXT*/
    color: var(--color-brown);
    font-size: 0.8rem;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Form Row: Between, Center  */
/*--------------------------------*/
.main--form__item--row-between,
.main--form__item--row-center {
    /*GRID*/
    grid-column: 1 / span 2;
    /*POSITION*/
    padding: 5px 0;
    margin: 5px 0;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /*TEXT*/
    color: var(--color-brown);
}
/*--------------------------------*/
/* Form Row: Between  */
/*--------------------------------*/
.main--form__item--row-between {justify-content: space-between;}
.main--form__item--row-center {justify-content: center;}
/*--------------------------------*/
/* Main: Toggle */
/*--------------------------------*/
.main--toggle {
    /*GRID*/
    grid-column: 2;
    grid-row: 3;
    /*POSITION*/
    margin-bottom: 20px;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: stretch;
    align-items: center;
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/