/*---------------------------------------------------------------*/
/* Splash: Registration */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Main, Aside */
/*--------------------------------*/
main, aside {
    /*POSITION*/
    margin: 20px;
    /*BORDER*/
    border-radius: var(--ui-border-radius);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Main */
/*--------------------------------*/
main {
    /*GRID*/
    grid-column: 2;
    grid-row: 2;
    /*POSITION*/
    /*DISPLAY*/
    display: grid;
    grid-template-columns: 20px calc(100% - 40px) 20px;
    grid-template-rows: 150px calc(100% - 200px) 50px;
    /*BORDER*/
    border: 1px solid var(--color-brown);
}
/*--------------------------------*/
/* Aside */
/*--------------------------------*/
aside {
    /*GRID*/
    grid-column: 3;
    grid-row: 2;
    /*BACKGROUND*/
    background-image: url('../../assets/bkrnd_puppy_02.jpg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    /*DEBUGGING*/
}