/*--------------------------------*/
/* Header - home */
/*--------------------------------*/
header[class$="--home"] {
    /*POSITION*/
    width: 100%;
    height: calc(100vh - 49.5px);
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
/*--------------------------------*/
/* Section: row */
/*--------------------------------*/
section.__header--home__col--top {
    /*POSITION*/
    padding-bottom: 6px;
    height: 50%;
    /*DISPLAY*/
    justify-content: flex-end;
}
/*--------------------------------*/
/* Header - Section: title */
/*--------------------------------*/
article.__header--home__title {
    /*FLEX*/
    align-self: flex-start;
}
/*--------------------------------*/
/* Header - Section: action */
/*--------------------------------*/
article.__header--home__action {
    /*FLEX*/
    align-self: flex-end;
}
/*--------------------------------*/
/* Section: row */
/*--------------------------------*/
section.__header--home__row--bottom {
    /*POSITION*/
    padding-top: 6px;
    margin-bottom: 60px;
    height: 50%;
    /*DISPLAY*/
    justify-content: space-between;
}
/*--------------------------------*/
/* Header - Section: right */
/*--------------------------------*/
article.__header--home__col--right {
    /*POSITION*/
    max-width: 350px;
    /*DISPLAY*/
    justify-content: space-between;
    align-items: flex-end;
    /*TEXT*/
    text-align: right;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Header - Section: social */
/*--------------------------------*/
article.__header--home__col--left {
    /*FLEX*/
    justify-self: stretch;
    /*POSITION*/
    height: 100%;
    /*DISPLAY*/
    justify-content: space-between;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Header - Section: arrow */
/*--------------------------------*/
article.__header--home__arrow {
    /*FLEX*/
    align-self: flex-end;
}