/*--------------------------------*/
/* Phone */
/*--------------------------------*/
.phone {
    /*POSITION*/
    padding: 24px 12px;
    max-width: 320px;
    max-height: 540px;
    /*DISPLAY*/
    display: flex;
    justify-content: center;
    align-items: center;
    /*BACKGROUND*/
    background: var(--color-stroke);
    /*BORDER*/
    border-radius: 20px;
    border: 4px outset var(--color-strokeDim);
}
.phone img {
    /*POSITION*/
    position: relative;
    object-fit: contain;
    width: 100%;
    height: 100%;
    /*BACKGROUND*/
    background: var(--color-background);
    /*BORDER*/
    border: 2px inset var(--color-strokeDim);
    border-radius: 12px;
}