/*--------------------------------*/
/* Nav - Section: Mobile */
/*--------------------------------*/
nav .__nav--mobile {
    /*FLEX*/
    align-self: center;
    /*POSITION*/
    margin: 12px 0;
    /*DISPLAY*/
    display: none;
    /*TEXT*/
    font-size: 24px;
    /*DEBUGGING*/
}