/*---------------------------------------------------------------*/
/* Portfolio: Debug - Main */
/*---------------------------------------------------------------*/
:root {
    /*DEBUGGING*/
    --debug-border: 1px solid red;
    --debug-bkrnd: rgba(255, 0, 0, 0.4);
    --debug-test-var: 100%;
}