/*---------------------------------------------------------------*/
/* CIS 170: Semantic | Nav: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Nav:  */
/*--------------------------------*/
nav {
    /*POSITION*/
    position: relative;
    z-index: 10;
    padding: var(--ui-padding);
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /*BACKGROUND*/
    background: var(--color-tertiaryContainer);
    /*BORDER*/
    border-bottom: 1px solid var(--color-stroke);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-off);
    /*TRANSITION*/
    transition: var(--ui-transition);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav(hover) */
/*--------------------------------*/
nav:hover {
    /*BACKGROUND*/
    background: var(--color-background);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-on);
    /*DEBUGGING*/
}