/*---------------------------------------------------------------*/
/* Semantic | Main: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Main:  */
/*--------------------------------*/
main {
    /*POSITION*/
    max-width: 1000px;
    margin: 0 auto;
    /*BACKGROUND*/
    background: var(--color-background);
}
/*--------------------------------*/
/* Main: Home */
/*--------------------------------*/
main[class$="--home"] {
    /*POSITION*/
    padding: var(--ui-padding);
    /*DEBUGGING*/
    /*border: 1px solid red;*/
}
/*--------------------------------*/
/* Main: contact */
/*--------------------------------*/
main[class$="--contact"] {
    /*POSITION*/
    margin-top: 60px;
}
/*--------------------------------*/
/* Main: Case-study */
/*--------------------------------*/
main[class$="--case-study"] {}
/*--------------------------------*/
/* Section: */
/*--------------------------------*/
main section {
    /*POSITION*/
    margin-top: 60px;
    margin-bottom: 60px;
}
/*--------------------------------*/
/* Article: */
/*--------------------------------*/
main article {
    /*POSITION*/
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 24px;
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/