/*---------------------------------------------------------------*/
/* Template: Semantic | Header: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Header */
/*--------------------------------*/
header {
    /*POSITION*/
    padding: var(--ui-padding);
    padding-top: 48px;
    padding-bottom: 48px;
}
/*---------------------------------------------------------------*/
/* Header: --home */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Header - home */
/*--------------------------------*/
header[class$="--home"] {
    /*POSITION*/
    width: 100%;
    height: calc(100vh - 49.5px);
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}
/*--------------------------------*/
/* Section: row */
/*--------------------------------*/
section.__header--home__col--top {
    /*POSITION*/
    padding-bottom: 6px;
    height: 50%;
    /*DISPLAY*/
    justify-content: flex-end;
}
/*--------------------------------*/
/* Header - Section: title */
/*--------------------------------*/
article.__header--home__title {
    /*FLEX*/
    align-self: flex-start;
}
/*--------------------------------*/
/* Header - Section: action */
/*--------------------------------*/
article.__header--home__action {
    /*FLEX*/
    align-self: flex-end;
}
/*--------------------------------*/
/* Section: row */
/*--------------------------------*/
section.__header--home__row--bottom {
    /*POSITION*/
    padding-top: 6px;
    margin-bottom: 60px;
    height: 50%;
    /*DISPLAY*/
    justify-content: space-between;
}
/*--------------------------------*/
/* Header - Section: right */
/*--------------------------------*/
article.__header--home__col--right {
    /*POSITION*/
    max-width: 350px;
    /*DISPLAY*/
    justify-content: space-between;
    align-items: flex-end;
    /*TEXT*/
    text-align: right;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Header - Section: social */
/*--------------------------------*/
article.__header--home__col--left {
    /*FLEX*/
    justify-self: stretch;
    /*POSITION*/
    height: 100%;
    /*DISPLAY*/
    justify-content: space-between;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Header - Section: arrow */
/*--------------------------------*/
article.__header--home__arrow {
    /*FLEX*/
    align-self: flex-end;
}
/*---------------------------------------------------------------*/
/* Header: --contact */
/*---------------------------------------------------------------*/
header.--contact {
    /*POSITION*/
    padding: var(--ui-padding);
    padding-top: 48px;
    padding-bottom: 48px;
    width: 100%;
    height: calc(100vh - 49.5px);
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/*--------------------------------*/
/* Section - contact */
/*--------------------------------*/
section.--header--contact {
    /*POSITION*/
    padding: none;
    /*DISPLAY*/
    display: grid;
    grid-template-columns: 2fr auto 3fr;
    grid-template-rows: 100%;
    align-items: stretch;
}
/*--------------------------------*/
/* Article | Form */
/*--------------------------------*/
section.--header--contact article.--contact__col,
section.--header--contact form.--contact__col {
    /*POSITION*/
    margin: 12px auto;
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
}
/*--------------------------------*/
/* Article */
/*--------------------------------*/
section.--header--contact article.--contact__line {
    /*GRID*/
    grid-column: 2;
    justify-self: left;
    /*POSITION*/
    margin-left: 24px;
    height: 100%;
    /*BORDER*/
    border-right: 2px solid var(--color-tertiaryStroke);
}
/*--------------------------------*/
/* Form */
/*--------------------------------*/
section.--header--contact form.--contact__col {
    /*GRID*/
    grid-column: 3;
    justify-self: right;
    /*POSITION*/
    padding-left: 12px;
    /*DISPLAY*/
    /*BORDER*/
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
div.--contact__row {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
div.--contact__checkbox-grid {
    /*POSITION*/
    width: 100%;
    margin: 12px 0px;
    /*DISPLAY*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/