/*---------------------------------------------------------------*/
/* Lcars: Resets */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* ul */
/*--------------------------------*/
ul {list-style-type: none;}
/*--------------------------------*/
/* li */
/*--------------------------------*/
li {
    /*POSITION*/
    margin: var(--ui-margin);
    padding: var(--ui-padding);
    /*DISPLAY*/
    display: inline-block;
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/