/*---------------------------------------------------------------*/
/* Splash: Registration */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Buttons */
/*--------------------------------*/
button,
button[class*="btn__form--"] {
    /*POSITION*/
    padding: 10px;
    margin: 5px 0;
    /*DISPLAY*/
    /*BACKGROUND*/
    background: var(--color-gold);
    /*BORDER*/
    outline: none;
    background: white;
    border: 1px solid var(--color-brown);
    border-radius: var(--ui-border-radius);
    /*TEXT*/
    color: var(--color-brown);
    /*TRANSITION*/
    transition: var(--ui-transition);
    /*DEBUGGING*/
}
button:hover,
button:active,
button[class*="--active"] {
    /*BACKGROUND*/
    background: var(--color-gold);
    /*TEXT*/
    color: white;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Button: not - submit */
/*--------------------------------*/
button:not([type="submit"]) {
    /*FLEX*/
    flex: 1;
}
button:not([type="submit"], [class*="btn__form--default"]):first-child {margin-right: 5px;}
button:not([type="submit"], [class*="btn__form--default"]):last-child {margin-left: 5px;}
/*--------------------------------*/
/* Button: Submit, Btn - default */
/*--------------------------------*/
button[type="submit"],
button[class*="btn__form--"] {
    /*GRID*/
    grid-column: 1 / span 2;
    /*TEXT*/
    font-weight: 700;
    font-size: 1rem;
}
/*--------------------------------*/
/* Button: Submit, Btn - default */
/*--------------------------------*/
button[type="submit"] {
    /*GRID*/
    grid-column: 1 / span 2;
}
/*--------------------------------*/
/* Button: Switch */
/*--------------------------------*/
.btn__form--login {
    /*POSITION*/
    margin: 0 !important;
    /*BORDER*/
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.btn__form--register {
    /*POSITION*/
    margin: 0 !important;
    /*BORDER*/
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/