/*---------------------------------------------------------------*/
/* Splash: Registration */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Input */
/*--------------------------------*/
input[type="text"],
input[type="email"],
input[type="password"] {
    /*GRID*/
    grid-column: 2;
    align-self: start;
    /*POSITION*/
    padding: 10px;
    margin: 10px 0;
    /*DISPLAY*/
    /*BACKGROUND*/
    background: white;
    /*BORDER*/
    border: 1px solid var(--color-brown);
    border-left: none;
    border-top-right-radius: var(--ui-border-radius);
    border-bottom-right-radius: var(--ui-border-radius);
    outline: none;
    /*TEXT*/
    color: var(--color-brown);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Input:  */
/*--------------------------------*/
input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus {
    /*TEXT*/
    color: var(--color-blk);
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/