/*---------------------------------------------------------------*/
/* CIS 170: Semantic | Nav: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Nav:  */
/*--------------------------------*/
nav {
    /*GRID*/
    /*POSITION*/
    position: relative;
    z-index: 10;
    padding: 0px 24px;
    width: 100%;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /*BACKGROUND*/
    background: var(--color-tertiaryContainer);
    /*BORDER*/
    border-bottom: 1px solid var(--color-stroke);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-off);
    /*TRANSITION*/
    transition: var(--ui-transition);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav(hover) */
/*--------------------------------*/
nav:hover {
    /*BACKGROUND*/
    background: var(--color-background);
    /*SHADOW*/
    box-shadow: var(--ui-shadow-on);
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav - Section */
/*--------------------------------*/
nav section[class^="nav"] {
    /*SHADOW*/
    /*ANIMATION*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav - Section: Logo */
/*--------------------------------*/
nav section[class$="__logo"] {
    /*FLEX*/
    align-self: center;
    /*DISPLAY*/
    display: block;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav - Section: Desktop */
/*--------------------------------*/
nav section[class$="--desktop"] {
    /*DISPLAY*/
    display: block;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav - Section: Mobile */
/*--------------------------------*/
nav section[class$="--mobile"] {
    /*FLEX*/
    align-self: center;
    /*POSITION*/
    margin: 12px 0;
    /*DISPLAY*/
    display: none;
    /*TEXT*/
    font-size: 24px;
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/