/*---------------------------------------------------------------*/
/* Semantic - All: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Section: */
/*--------------------------------*/
header {
    /*BACKGROUND*/
    background: var(--color-tertiaryContainer);
    /*TEXT*/
    color: var(--color-tertiaryStroke);
}
/*--------------------------------*/
/* Section: */
/*--------------------------------*/
main section {
    /*POSITION*/
    margin-top: 60px;
    margin-bottom: 60px;
}
/*--------------------------------*/
/* article: col */
/*--------------------------------*/
article[class*="__col"] {
    /*POSITION*/
    margin: 12px 0px;
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
}
[class*="--between"] {justify-content: space-between;}
[class*="start"] {justify-content: flex-start;}
/*--------------------------------*/
/* article: row */
/*--------------------------------*/
article[class*="__row"] {
    /*POSITION*/
    margin: 12px 0px;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
article[class*="__row"] a {
    /*POSITION*/
    padding: 6px 12px;
    /*DISPLAY*/
    display: inline-block;
    /*TEXT*/
    text-decoration: underline;
    color: var(--color-primary);
}
/*--------------------------------*/
/* div: col */
/*--------------------------------*/
div[class*="__col"] {
    /*DISPLAY*/
    display: flex;
    flex-direction: column;
}
/*--------------------------------*/
/* div: row */
/*--------------------------------*/
div[class*="__row"] {
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
}