/*---------------------------------------------------------------*/
/* CIS 170: Semantic | Nav: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Nav:  */
/*--------------------------------*/
nav {
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    padding: 0px 24px;
    width: 100%;
    /*DISPLAY*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    /*BACKGROUND*/
    /*BORDER*/
    border-bottom: 1px solid var(--color-stroke);
    /*TEXT*/
    /*SHADOW*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav Section */
/*--------------------------------*/
nav section[class^="nav"] {
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav Section */
/*--------------------------------*/
nav section[class$="__logo"] {
    /*FLEX*/
    align-self: center;
    /*POSITION*/
    /*DISPLAY*/
    display: block;
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav Section */
/*--------------------------------*/
nav section[class$="--desktop"] {
    /*POSITION*/
    /*DISPLAY*/
    display: block;
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Nav Section */
/*--------------------------------*/
nav section[class$="--mobile"] {
    /*FLEX*/
    align-self: center;
    /*POSITION*/
    /*DISPLAY*/
    display: block;
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    font-size: 24px;
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/
}
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*GRID*/
    /*FLEX*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/