/*---------------------------------------------------------------*/
/* Semantic - All: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Header: */
/*--------------------------------*/
header {
    /*BACKGROUND*/
    background: var(--color-tertiaryContainer);
    /*TEXT*/
    color: var(--color-tertiaryStroke);
}
/*--------------------------------*/
/* Section: */
/*--------------------------------*/
main section {
    /*POSITION*/
    margin-top: 60px;
    margin-bottom: 60px;
}
/*--------------------------------*/
/* Background Colors */
/*--------------------------------*/
[class*="--grey"] {background: var(--color-strokeMid);}
[class*="--pink"] {background: var(--color-primaryContainer);}
[class*="--bright"] {background: var(--color-secondaryContainer);}
[class*="--sky"] {background: var(--color-tertiaryContainer);}
/*--------------------------------*/
/* Article: */
/*--------------------------------*/
main article {
    /*POSITION*/
    margin-top: 48px;
    margin-bottom: 48px;
    padding: 24px;
}