/*---------------------------------------------------------------*/
/* CIS 170: Main */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Imports: Semantic */
/*--------------------------------*/
@import url(semantic/semantic_all.css);
@import url(semantic/semantic_nav.css);
@import url(semantic/semantic_header.css);
@import url(semantic/semantic_main.css);
@import url(semantic/semantic_footer.css);
/*--------------------------------*/
/* Imports: Resets */
/*--------------------------------*/
@import url(resets/reset_headings.css);
@import url(resets/resets_ul_li.css);
@import url(resets/reset_buttons.css);
@import url(resets/reset_input.css);
@import url(resets/reset_label.css);
@import url(resets/reset_textarea.css);
/*--------------------------------*/
/* Imports: Elements */
/*--------------------------------*/
@import url(elements/btn_arrow.css);
@import url(elements/btn_hero.css);
@import url(elements/btn_social.css);
@import url(elements/link_nav.css);
@import url(elements/link_footer_lower.css);
@import url(elements/btn_submit_inline.css);
/*--------------------------------*/
/* Media Queries */
/*--------------------------------*/
@import url(media_queries/media_queries_phone.css) screen and (min-width:0px) and (max-width:650px);
/*
@import url(media_queries/media_queries__main_lg.css) screen and (min-width:1200px);
@import url(media_queries/media_queries__main_md.css) screen and (min-width:700px) and (max-width:1200px);
*/
/*--------------------------------*/
/* Root */
/*--------------------------------*/ 
:root {
    /*DEBUGGING*/
    --debug-border: 1px solid red;
    --debug-bkrnd: rgba(255, 0, 0, 0.4);
    --debug-test-var: 100%;

    /*UI*/
    /*--ui-font-family: Arial, Helvetica, sans-serif;*/
    --ui-font-family: "Inter", sans-serif;
    --ui-border-width: 2px;
    --ui-border-style: solid;
    --ui-border-color: var(var(--color-stroke));
    --ui-border: var(--ui-border-width) var(--ui-border-style) var(--ui-border-color);
    --ui-border-radius: 4px;
    --ui-grid-gap: 12px;
    --ui-padding: 0 48px;

    /*SHADOW*/
    --ui-shadow-off: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --ui-shadow-on: 0px 4px 2px -0px rgba(0, 0, 0, 0.3);
    --ui-shadow-inset: inset 0px 4px 2px -0px rgba(0, 0, 0, 0.3);

    /*TRANSITIONS*/
    --ui-transition: all 0.95s cubic-bezier(0.175, 0.885, 0.32, 1.275);

    /*COLORS*/
    --color-stroke: #333333;
    --color-background: #F6F6F6;
    --color-strokeLite: #ebebeb;
    --color-strokeMid: #d6d6d6;
    --color-strokeDim: #B0B0B0;
    --color-tertiary: #66ccff;
    --color-primary: #FF3366;
    --color-secondary: #ffcc00;
    --color-tertiaryDim: #F0F9FF;
    --color-secondaryStroke: #442304;
    --color-secondaryDim: #FFFEC1;
    --color-primaryStroke: #50011D;
    --color-primaryContainer: #FF9FB3;
    --color-primaryDim: #FFE2E7;
    --color-secondaryContainer: #FFF886;
    --color-tertiaryStroke: #062e4b;
    --color-tertiaryContainer: #b8e5ff;
    --color-tertiaryDim: #F0F9FF;
    
}
/*--------------------------------*/
/* Overall */
/*--------------------------------*/        
* {
    /*DISPLAY*/
    box-sizing: border-box;
}
/*--------------------------------*/
/* Body */
/*--------------------------------*/
body {
    /*POSITION*/
    width: 100vw;
    margin: 0;
    padding: 0;
    /*BACKGROUND*/
    background: var(--color-background);
    /*TEXT*/
    font-family: var(--ui-font-family);
}
/*body > * {border: 1px solid red;}*/
/*---------------------------------------------------------------*/
/* Main: Animation-Class */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Animation-Class: Prefix */
/*--------------------------------*/
[data-animation],
div[class*="animation"],
img[class*="animation"] {
    /*vars-animations main*/
    animation-name: var(--animation-name, none);
    animation-duration: var(--animation-duration, 1.0s);
    animation-timing-function: var(--animation-timing-function, cubic-bezier(0.175, 0.885, 0.32, 1.275));
    animation-delay: var(--animation-delay, 0.0s);
    animation-iteration-count: var(--animation-iteration-count, 1);
    animation-fill-mode: var(--animation-fill-mode, forwards);
    animation-play-state: var(--animation-play-state, paused);
}
.paused { --animation-play-state: paused;}
.running { --animation-play-state: running;}
/*---------------------------------------------------------------*/
/* Template: */
/*---------------------------------------------------------------*/
/*--------------------------------*/
/* Template */
/*--------------------------------*/
    /*VARS*/
    /*POSITION*/
    /*DISPLAY*/
    /*BACKGROUND*/
    /*BORDER*/
    /*TEXT*/
    /*SHADOW*/
    /*TRANSITION*/
    /*ANIMATION*/
    /*TRANSFORM*/
    /*DEBUGGING*/