/*---------------------------------------------------------------*/
/* Portfolio: Config - Main */
/*---------------------------------------------------------------*/
:root {
    /*UI*/
    /*--ui-font-family: Arial, Helvetica, sans-serif;*/
    --ui-font-family: "Inter", sans-serif;
    --ui-border-width: 2px;
    --ui-border-style: solid;
    --ui-border-color: var(--color-stroke);
    --ui-border: var(--ui-border-width) var(--ui-border-style) var(--ui-border-color);
    --ui-border-radius: 4px;
    --ui-grid-gap: 12px;
    --ui-padding: 0 48px;
    --ui-margin: var(--ui-padding);

    /*SHADOW*/
    --ui-shadow-off: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    --ui-shadow-on: 0px 4px 2px -0px rgba(0, 0, 0, 0.3);
    --ui-shadow-inset: inset 0px 4px 2px -0px rgba(0, 0, 0, 0.3);

    /*TRANSITIONS*/
    --ui-transition: all 0.95s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}